@charset "utf-8";
@use "foundation/index" as *;

// 💬 Description.........................................
//
// リストに対してのscss
//
// ............................................................

// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
//	🍔 HogeHoge
//
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.c-list-hogehoge {
}

// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
//	🍔 Common
//
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.c-list-common {
  width: 100%;

  &-item {
    width: 100%;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid color(border, light);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
//	🍔 Title
//
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.c-list-name {
  width: 100%;

  &-item {
    width: 100%;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid color(border, light);
    @include Flex(left, null);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-title {
    width: 180px;
    color: color(text, light);

    @include Breakpoint(inch7) {
      width: 100%;
      @include FontStyle(s);
    }
  }

  &-detail {
    flex: 1;

    @include Breakpoint(inch7) {
      width: 100%;
    }
  }
}

// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
// 🍔 SNS Share
// ※スタイル要編集
//
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.c-list-sns-share {
  .item {
    margin-right: 1rem; //表示確認に入れてるだけなのであってもなくてもOK
    cursor: pointer; //PinterestがScriptの影響でHoverしてもPointerカーソルにならないので付与。
  }
}

// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
//	🍔 HeadingBig
//
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// :::::::::::::::::::::::::::::::::::::::::::::
//	✅ HeadingSmall
// :::::::::::::::::::::::::::::::::::::::::::::
