@charset "utf-8";
@use "foundation/index" as *;
@use "../../../../pages/singles/singles-common" as *;
@use "sandwich-editor" as *;

p {
  padding: 0;
  margin: 0;
  @include FontFamily(base);
  font-size: 14px;
  line-height: 2;
}

#tinymce {
  box-sizing: border-box !important;
  width: 100%;
  max-width: calc(680px + 2rem);
  padding: 2rem 1rem !important;
  margin: 0 auto !important;
}
