@charset "utf-8";
@use "foundation/index" as *;

.p-top-concept {
  @include ContentsPadding(xl, m, section);
  position: relative;
  padding-top: 16rem;
  padding-bottom: 16rem;

  &-body {
    @include ContentsSize(l);
    position: relative;
    z-index: 2;
  }
}

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
// 🍔 Contents
//
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.p-top-concept-contents {
  margin-top: 2rem;
  @include Flex(between, center, 2rem);

  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  // 🍟 Description
  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  &-description {
    width: 50%;
    &-text {
      width: 80%;
      line-height: 2;
      @include Breakpoint(inch15) {
        width: 100%;
      }
    }
  }

  .c-btn-link {
    margin-top: 4rem;
  }

  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  // 🍟 Image
  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  &-image {
    @include ContentsPadding(l, m);
    position: relative;
    flex: 1;
    background: #fff;
    border: 1px solid #000;
    border-radius: 0.5rem;
    &-logo {
      width: 63%;
      margin: auto;
    }
  }
}

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
// 🍔 BackgroundImage
//
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.p-top-concept-contents-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  &-item {
    position: absolute;
    width: 35%;
    overflow: clip;
    background: #fff;
    border-radius: 0.5rem;
    &-body {
      height: 100%;
    }
    img {
      height: 100%;
      object-fit: cover;
    }
    &:nth-of-type(1) {
      top: 33%;
      right: -2rem;
      width: 25%;
    }
    &:nth-of-type(2) {
      right: 0%;
      bottom: 10%;
      left: 0%;
      width: 20%;
      margin: auto;
    }
    &:nth-of-type(3) {
      bottom: -9%;
      left: 0%;
      width: 20%;
      margin: auto;
    }
    &:nth-of-type(4) {
      top: 0;
      left: -2rem;
      width: 25%;
      margin: auto;
    }
  }
}
