@use "foundation/index" as *;
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
//	🍔 Link
//
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.c-btn-link {
  display: inline-block;

  &-body {
    @include FontStyle(l);
    @include Flex(center, center, 0);
    position: relative;
    padding: 0.5em 0.5em 0.5em 1.5em;
    overflow: clip;
    color: color(text, base);
    border: 2px solid color(text, base);
    border-radius: 50px;
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 50%;
      aspect-ratio: 1/1;
      margin: auto;
      content: "";
      @include Gradient;
      border-radius: 100%;
      transform: scale(0);
      transition: 0.25s ease-in-out;
    }
  }

  &-icon {
    position: relative;
    z-index: 10;
    display: block;
    width: 1.5em;
    aspect-ratio: 1/1;
    background: color(text, base);
    border-radius: 100%;
    .c-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: auto;
      color: #fff;
      translate: -41% -51%;
    }
  }

  &-text {
    position: relative;
    z-index: 10;
    overflow: clip;
  }

  &-text-en {
    @include FontFamily(sub);
    @include FontStyle(xl);
    display: inline-block;
    padding-right: 0.75em;
    line-height: 1;
    letter-spacing: 0.02em;
    transition: transform 0.2s ease-in-out;
  }

  &-text-jp {
    @include FontStyle(xs);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 0.05em;
    font-weight: 700;
    color: #fff;
    white-space: nowrap;
    transform: translateY(110%);
    transition: 0.2s ease-in-out;
  }

  &:disabled {
    filter: grayscale(1);
  }

  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  // 🍟 Primary
  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  &._type-primary {
    .c-btn-link-body {
      color: #fff;
      background: color(text, base);
    }
    .c-btn-link-icon {
      background: #fff;
    }
    .c-icon {
      color: color(text, base);
    }
  }
}

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
// 🍔 Hover
//
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.c-btn-link-body:hover {
  &::after {
    transform: scale(2);
  }
  .c-btn-link-text-en {
    transform: translateY(-120%);
  }
  .c-btn-link-text-jp {
    color: #fff;
    transform: translateY(10%);
  }
}
