@charset "utf-8";

// 💬 Description.........................................
//
// クライアント用ダッシュボードレイアウト
//
// ............................................................
#screen-options-link-wrap {
  display: none;
}

#dashboard-widgets-wrap {
  &::before {
  }

  #dashboard-widgets {
    display: none;
  }
}

._hide-editor {
  display: none;
}
